

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3C3C3C;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.tittle {
    top: 50px;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-family: Poppins;
    font-weight: bold;
    color: #ffffff;
}

.pessoa {
    width: 550px;
    height: 550px;
    background-color: #ccc;
    border-radius: 50%;
    border: 15px solid #dde;
    position: relative;
    overflow: hidden;
    transition: 5s;
}

.pessoa div {
    height: 50%;
    width: 250px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    font-family: Poppins;
    color: #3C3C3C;
    left: 135px;
}

.pessoa .um {
    background-color: #FFF2B3;
    left: 50%;
}

.pessoa .dois {
    background-color: #FAC074;
    transform: rotate(45deg);
}

.pessoa .tres {
    background-color: #F17578;
    transform: rotate(90deg);
}

.pessoa .quatro {
    background-color: #F1E27C;
    transform: rotate(135deg);
}

.pessoa .cinco {
    background-color: #95DDA7;
    transform: rotate(180deg);
}

.pessoa .seis {
    background-color: #8FE7F6;
    transform: rotate(225deg);
}

.pessoa .sete {
    background-color: #AE8BE2;
    transform: rotate(270deg);
}

.pessoa .oito {
    background-color: #EE8AB7;
    transform: rotate(315deg);
}

.seta {
    position: absolute;
    top: 196px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-weight: bold;
}

.seta::before {
    content: "\1F817";
    font-size: 50px;
}

#girar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #ffffff;
    text-transform: uppercase;
    border: 8px solid #ffffff;
    font-weight: bold;
    color: #3C3C3C;
    width: 120px;
    height: 120px;
    font-family: Poppins;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 1920px) {
    .roleta {
        flex-direction: wrap;
        justify-content: center;
        width: 550px;
        height: 550px;
    }
}

@media screen and (max-width: 730px) {
    .roleta {
        flex-direction: wrap;
        justify-content: center;
        width: 550px;
        height: 550px;
    }
}